.header__lang-link {
  position: absolute;
  /* max-width: 30px; */
  /* margin-right: 18px; */
  top: 17px;
  right: 0;
  bottom: 6px;
  line-height: 1.17;
  font-size: 24px;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.header__lang-link:nth-child(2) {
  right: 47px;
}

@media(max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
  .header__lang-link:nth-child(2) {
    top: 15px;
    right: 40px;
  }
}
