.header {
  position: relative;
  margin-top: 28px;
  margin-bottom: 56px;
  max-width: 1184px;
  width: calc(100% - 96px);
  /* max-height: 52px; */
}

@media(max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
    /* margin: 28px 48px 47px 48px; */
  }
}

@media(max-width: 768px) {
  .header {
    max-width: 720px;
    margin-top: 28px;
    margin-bottom: 48px;
    width: calc(100% - 48px);
  }
}

@media(max-width: 320px) {
  .header {
    max-width: 288px;
    /* margin: 16px 16px 45px; */
    margin-top: 16px;
    margin-bottom: 45px;
    width: calc(100% - 32px);
  }
}

