.header {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  margin-top: 28px;
  margin-bottom: 56px;
  max-width: 1184px;
  width: calc(100% - 96px);
  /* max-height: 52px; */
}

@media(max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
    /* margin: 28px 48px 47px 48px; */
  }
}

@media(max-width: 768px) {
  .header {
    max-width: 720px;
    width: calc(100% - 48px);
  }
}

@media(max-width: 320px) {
  .header {
    max-width: 288px;
    margin-top: 16px;
    width: calc(100% - 32px);
  }
}

