.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  margin: 0 auto 64px;
}

@media(max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 55px;
  }
}

@media(max-width: 450px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto 40px;
  }
}
