.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  width: 100%;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-size: contain;
  background-repeat: no-repeat; */
}
.cover::before {
  content: "";
  position: absolute;
  background-color: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.cover:hover::before {
  opacity: 0.8;
}


@media(max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media(max-width: 650px) {
  .cover {
    /* max-height: 200px; */
    margin: 0 0 64px 0;
  }
}


