.footer {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  max-width: 1184px;
  /* max-height: 18px; */
  width: calc(100% - 96px);
  margin: auto;
  margin-bottom: 24px;
  /* margin: 0 0 24px 0; */

}

@media(max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
    margin: auto;
  }
}


@media(max-width: 650px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}
